
<!-- FOOTER -->

<div class="footer">
    <div class="footer-content">
        <p class="footer-content-welcome">BIENVENIDO A UNA</p>
        <p class="footer-content-independent">PLATAFORMA INDEPENDIENTE </p>
    </div>

    <div class="footer-slider">
        <p style="margin-top: -5px; margin-left: 5px;">FOR:</p>
        <div class="footer-slider-div">
            <div class="footer-slider-text">
                <p>CULTURE</p>
                <p>MUSIC</p>
                <p>ART</p>
            </div>
        </div>
        <div><a href="/index.html"><img  height="60px" src="/assets/img/Favicon_UnusualRadio_Circulo_SVG-02.svg" alt="Logo-UnusualRadio"></a></div>
    </div>
    
</div>